@model IEnumerable<ImageProject.Models.СonstituentСolor>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Chart
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="pie"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    var pieChart = document.getElementById('pie').getContext('2d');
    var colorsArray = @Html.Raw(Json.Serialize(Model.Select(u => u.HexColor).ToArray()));
    var mypiechart = new Chart(pieChart, {
        type: 'pie',
        data: {
            labels: colorsArray,
            datasets: [{
                label: 'Pie Chart',
                data: @Html.Raw(Json.Serialize(Model.Select(u => u.ValueCount).ToArray())),
                backgroundColor: colorsArray
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })
</script>