@model IEnumerable<ImageProject.Models.UserImage>

@{
    ViewData["Title"] = "Euc";
}

<h1>Euc</h1>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <div class="btn-group float-end">
            <a class="btn" asp-controller="User" asp-action="Edit"><i class="bi bi-pencil"></i></a>
            <a class="btn" asp-controller="User" asp-action="CompareImages"><i class="bi bi-plus-slash-minus"></i></a>
            <a class="btn" asp-controller="User" asp-action="Delete"><i class="bi bi-trash"></i></a>
        </div>
        <hr />
        <br />
        @foreach (var item in Model)
        {
            <a onclick="submitPost(@item.Id)">
                @Html.Raw($"<img style='width:150px; height:150px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Image) + "\" />")
            </a>
        }
    </div>
    <div class="col-md-2"></div>
</div>
<style>
    img {
        margin: 10px;
        filter: brightness(1);
    }
</style>
<script type="text/javascript">
    function submitPost(itemId)
    {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSelectedImage", "User")',
            data: { selectedImage: itemId }
        });
    }
    $('img').on('click', function () {
        if ($(this).css("filter") == "brightness(1)")
        {
            $(this).css("filter", "brightness(0.5)")
        } else
        {
            $(this).css("filter", "brightness(1)")
        }
    });
</script>