<div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a id="UsersButton" asp-controller="Admin" asp-action="Index" class="nav-link">Current Users</a>
        </li>
        <li class="nav-item">
            <a id="RolesButton" class="nav-link" asp-controller="Admin" asp-action="Roles">Roles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="BannedUsers">Banned Users</a>
        </li>
    </ul>
</div>